/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'PokemonSolid';
    src: url('./Fonts/PokemonSolid.ttf');
}

img {
    object-fit: contain;
    width: 100%;
}

/* Body */
body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr, 40vh, 1fr;
}

/* Header */
header {
    grid-row: 1;
    background-color: #DD4141;
    display: grid;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'PokemonSolid', sans-serif;
        color: #ffcc03;
        -webkit-text-stroke-width: 1.5px;
        font-size: 64px;
        -webkit-text-stroke-color: rgb(70, 70, 246);
    }
}

/* Main */
main {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* Fill blank space with the color I wanted. */
    #left-fill-color {
        background-color: #DD4141;
        grid-column: 1;
        grid-row: 1;
    }

    /* Fill blank space with the color I wanted. */
    #left-line {
        background-color: black;
        grid-column: 1;
        grid-row: 2;
    }

    /* pokemon-section styling where JS will dynamically create HTML elements and CSS styling. */
    #pokemon-section {
        grid-column: 2 / 5;
        grid-row: span 4;
        border: 30px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);

        .pokemon-data-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);

            /* Metallic effect taken from URL: https://ibelick.com/blog/creating-metallic-effect-with-css */
            background: linear-gradient(
                45deg,
                #999 5%,
                #fff 10%,
                #ccc 30%,
                #ddd 50%,
                #ccc 70%,
                #fff 80%,
                #999 95%
            );
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

            margin: 0.5rem;

            .pokemon-sprite,
            .pokemon-shiny-sprite{
                grid-column: span 2;
                grid-row: 1;
            }

            .pokemon-data-name-section{
                grid-column: 1;
                grid-row: 2;
                text-align: center;
            }

            .pokemon-moves-form{
                grid-column: 1;
                grid-row: 3;
                text-align: center;
                margin-bottom: 0.25rem;
            }

            .pokemon-shiny-container{
                grid-column: 2;
                grid-row: 2;
                text-align: center;
            }

            .pokemon-ability-form{
                grid-column: 2;
                grid-row: 3;
                text-align: center;
            }

            .save-button {
                grid-column: 1;
                grid-row: 4;
                margin: 1rem;
            }

            .delete-button {
                grid-column: 2;
                grid-row: 4;
                margin: 1rem;
            }
        }
    }

    /* Fill blank space with the color I wanted. */
    #right-fill-color {
        background-color: #DD4141;
        grid-column: 5;
        grid-row: 1;
    }

    /* Fill blank space with the color I wanted. */
    #right-line {
        background-color: black;
        grid-column: 5;
        grid-row: 2;
    }
}

/* Footer */
footer {
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;

    /* Pokemon Data Section Styling */
    #pokemon-new-section,
    #pokemon-load-section,
    #clear-save-data {
        display: grid;
        grid-template-rows: repeat(2, auto);
        margin-top: 1rem;

        #pokemon-new-data-form,
        #pokemon-load-data-form,
        #clear-save-data-form {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);

            h2 {
                grid-column: span 2;
                grid-row: 1;
                justify-self: center;
                align-self: center;
                font-family: 'PokemonSolid', sans-serif;
                color: #ffcc03;
                font-size: 32px;
                -webkit-text-stroke-width: 1.5px;
                -webkit-text-stroke-color: rgb(70, 70, 246);
            }

            #pokemon-name,
            #pokemon-load-name {
                grid-column: 1;
                grid-row: 2;
                align-self: center;
            }

            #btn-new-submit,
            #btn-load-submit {
                grid-column: 2;
                grid-row: 2;
                justify-self: center;
                align-self: center;
                width: 90%;
            }

            #btn-clear-submit {
                grid-column: span 2;
            }
        }
    }
}

@media (width <= 1142px) {

    main {
        #pokemon-section {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

@media (width <= 800px){
    main {
        #pokemon-section {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
        }
    }
}